
form{
    margin: auto;
    width: 40%;
    margin-top: 1%;
    margin-bottom: 20px;
    background-color:#ffffff ;
    border-style: solid;
    border-radius: 70px;
    border-color: #B6B09F;
    justify-content: center;
 }
 p{
    margin-top: 10px;
 }
 h1{
     color: #000000;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 
     'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 50px;
     text-align: center;
     font-weight: bold;
     margin-top: 6%;
    text-shadow: 1px 2px #111111;
 }
 mat-form-field{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 90%;
    font-size: 20px;
    background-color: #EAE4D5;
 }
mat-icon {
  color: rgb(0, 0, 0);
}

mat-form-field, 
mat-form-field mat-label, 
mat-form-field input {
  font-size: 16px;
  color: #000000;
}
mat-form-field mat-error{
    margin-top: 4px;
    font-size: 15px;
    color: #FF1E00;
}

 button{
  display: block;
  margin: 10px auto;
  background-color: #ffffff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-radius: 20px;
  font-size: 20px;
 }
 form a{
    margin-left: 6px;
 }
 .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    width: 100%;
  }
  