<h1 form>Login</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">  
  <p>
    <mat-form-field  appearance="outline">
      <mat-label>email</mat-label>
      <input matInput placeholder="enter your email" formControlName="email" >
      <mat-icon matSuffix>mail</mat-icon>
      @if(this.form.get('email')?.hasError('required'))
      {
        <mat-error>{{ 'email is required' }}</mat-error>
      }
      @if(this.form.get('email')?.hasError('email'))
      {
        <mat-error>{{ 'must be an email' }}</mat-error>
      }
    </mat-form-field>
  </p>

  

  <p>
    <mat-form-field appearance="outline">
      <mat-label>password</mat-label>
      <input type="password" matInput placeholder="enter your Password" formControlName="password">
      <mat-icon matSuffix>lock</mat-icon>
      @if(this.form.get('password')?.hasError('required')){
        <mat-error>{{ 'password is required'}}</mat-error>
      }
      @if(this.form.get('password')?.hasError('minlength')){
        <mat-error>{{ 'password should be at least 8 characters'}}</mat-error>
      }
    </mat-form-field>
  </p>


  @if(isloggedIn == false)
  {
  <mat-error>{{errorMessage}}</mat-error>
  }
  
  <button type="submit" class="btn ">Login</button>


</form> 


 
