
img{
    width: 7%;
    height: 100%;
    margin-left: 5px;
}
nav{
    background-color: #ec2c12;
}

.nav-link {
    font-weight: bold;

    font-size: 20px;
}

.offcanvas-title {
    font-weight: bold;
    font-size: 30px;
}

.btn-close {
    font-size: 1.2rem;
}

.navbar-toggler {
    border-color: #fff;
}
